<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://ehc1u4pmphj917qf.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/ebzjpgvfwlj7r1to</property>
    <property name="hibernate.connection.username">yoih4gmcqcr9r6ee</property>
    <property name="hibernate.connection.password">k8d7qodhe0hd3vls</property>

    <property name="hibernate.show_sql">true</property>

    <property name="hibernate.current_session_context_class">managed</property>

    <mapping resource="hibernate.hbm.xml"/>

  </session-factory>
</hibernate-configuration>
