<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://vhw3t8e71xdz9k14.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/cp0io2bc5jvdb8id</property>
    <property name="hibernate.connection.username">yuqjocv71k35xyp5</property>
    <property name="hibernate.connection.password">tcdwddb0z737kxjg</property>

    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">managed</property>

    <mapping resource="hibernate.hbm.xml"/>

  </session-factory>
</hibernate-configuration>
