<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://us-cdbr-iron-east-04.cleardb.net:3306/heroku_f7acffc10b2f150</property>
    <property name="hibernate.connection.username">bd546700991eca</property>
    <property name="hibernate.connection.password">6970d9ba3937d1a</property>

    <property name="hibernate.show_sql">true</property>

    <property name="hibernate.current_session_context_class">managed</property>

    <mapping resource="hibernate.hbm.xml"/>

  </session-factory>
</hibernate-configuration>
