<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head lang="en">
    <title>Kullanıcı Yapılacaklar Listesi Güncelleme</title>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/users}">Ana Sayfa</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/users/addUser}">Kullanıcı Kaydı</a></li>
                        <li><a href="#" th:href="@{/users/getAll}">Kullanıcı Listesi</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<form action="#" th:action="@{/users/updateNote}" method="POST" th:object="${User}">
    <input type="hidden" th:field="*{id}" th:value="${user.id}"/>
    <input type="hidden" th:field="*{userName}" th:value="${user.userName}"/>
    <input type="hidden" th:field="*{createDate}" th:value="${user.createDate}"/>
    <table>
        <tr>
            <td><label class="label"><b>Yapılacaklar Listesi :</b> </label></td>
            <td><input type="text" th:field="*{note}" th:value="${user.note}" style="height: 100px;width:300px"/></td>
        </tr>
        <br/>
        <tr>
            <td><input type="submit" name="save" value="Güncelle"/></td>
            <td><input type="submit"  name="cancel" value="İptal"/></td>
        </tr>
    </table>
</form>
</body>
</html>