<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Kullanıcı Yapılacak Listesi</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(listUser)}">
        <h2>Kullanıcı Listesi</h2>
        <table class="table table-striped">
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Oluşturma Zamanı</th>
            </tr>
            <tr th:each="listUser : ${listUser}">
                <td th:text="${listUser.userName}"><a href="/getNote/${listUser.id}">Kullanıcı Adı</a></td>
                <td th:text="${listUser.createDate}">Oluşturma Zamanı</td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>