<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Kullanıcı Listesi</title>

</head>
<body>
<div class="container">

    <div th:if="${not #lists.isEmpty(listUser)}">
        <h2>Kullanıcı Listesi</h2>
        <table class="table table-striped">
            <tr>
                <th>Kullanıcı Adı</th>
                <th>Oluşturma Zamanı</th>
            </tr>
            <tr th:each="listUser : ${listUser}">
                <td th:text="${listUser.userName}" >Kullanıcı Adı</td>
                <td th:text="${listUser.createDate}">Oluşturma Zamanı</td>
                <td> <a href="#" th:href ="@{/users/getNote(id=${listUser.id})}">Yapılacak listesi</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>